---
import Banner from "../components/Banner.astro";
import BestSellers from "../components/BestSellers.astro";
import Categories from "../components/Categories.astro";
import Features from "../components/Features.astro";
import Footer from "../components/Footer.astro";
import Menu from "../components/Menu.astro";
import NewArrival from "../components/NewArrival.astro";
import Newsletter from "../components/Newsletter.astro";
import SearchPopup from "../components/SearchPopup.astro";
import Welcome from "../components/Welcome.astro";
import YourCart from "../components/YourCart.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="preloader text-white fs-6 text-uppercase overflow-hidden"></div>

  <SearchPopup />
  <YourCart />
  <Menu />
  <Banner />
  <Features />
  <Welcome />
  <Categories />
  <NewArrival />
  <BestSellers />
  <Newsletter />
  <Footer />

  <script is:inline src="js/jquery.min.js"></script>
  <script is:inline src="js/plugins.js"></script>
  <script is:inline src="js/SmoothScroll.js"></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
  ></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"
  ></script>
  <script is:inline src="js/script.js"></script>
</Layout>
