---
const categories = [
  {
    name: "Electronic Gadgets",
    image: "images/category-thumb-1.jpg",
    link: "shop-four-column-wide.html",
  },
  {
    name: "Cool Stuff",
    image: "images/category-thumb-2.jpg",
    link: "shop-four-column-wide.html",
  },
  {
    name: "Accessories",
    image: "images/category-thumb-3.jpg",
    link: "shop-four-column-wide.html",
  },
  {
    name: "Display Units",
    image: "images/category-thumb-4.jpg",
    link: "shop-four-column-wide.html",
  },
];
---

<div class="container-fluid text-uppercase py-5">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-xl-4 row-gap-5">
    {
      categories.map((category, index) => (
        <div class="col">
          <div class="card border-0">
            <header class="card-header">
              <h2 class="card-title fs-6 m-0">
                {(index + 1).toString().padStart(2, "0")}. {category.name}
              </h2>
            </header>
            <figure class="card-body jarallax m-0 overflow-hidden">
              <img
                src={category.image}
                alt={category.name}
                class="jarallax-img"
              />
              <figcaption class="position-absolute bottom-0 m-3">
                <a href={category.link} class="btn btn-link">
                  Shop it Now
                </a>
              </figcaption>
            </figure>
          </div>
        </div>
      ))
    }
  </div>
</div>

<style>
  figure::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, transparent, black);
    z-index: -1;
  }
</style>
