---
import MenuLinks from "./MenuLinks.astro";

const offcanvasId = crypto.randomUUID();
---

<nav class="navbar navbar-expand-xl sticky-top bg-body">
  <div class="container-fluid">
    <a href="./">
      <img
        src="images/logo.png"
        height="100"
        class="w-100 object-fit-contain"
        alt="logo"
        style="filter: invert(1)"
      />
    </a>

    <MenuLinks hideInMobiles />

    <menu class="m-0 p-0 navbar-nav flex-row fs-3 gap-3">
      <li class="nav-item">
        <a class="nav-link bi bi-heart" href="wishlist.html"></a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link bi bi-cart"
          href="cart.html"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasCart"
        >
        </a>
      </li>
      <li class="nav-item">
        <a
          href="#SearchPopup"
          class="nav-link bi bi-search"
          data-bs-toggle="modal"></a>
      </li>
    </menu>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target={`#${offcanvasId}`}
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>

<div class="offcanvas offcanvas-end" tabindex="-1" id={offcanvasId}>
  <header class="offcanvas-header">
    <h2 class="offcanvas-title">Menu</h2>
    <button class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close">
    </button>
  </header>

  <div class="offcanvas-body">
    <MenuLinks />
  </div>
</div>
