---
import ProductCard from "./ProductCard.astro";

const products = [
  {
    name: "Phone Cover 5.6 inches",
    price: "$95.00",
    image: "images/product-small-1.jpg",
    link: "single-product.html",
  },
  {
    name: "Smart Phone 128GB RAM",
    price: "$55.00",
    image: "images/product-small-2.jpg",
    link: "single-product.html",
  },
  {
    name: "Smart Phone 128GB RAM",
    price: "$55.00",
    image: "images/product-small-3.jpg",
    link: "single-product.html",
  },
  {
    name: "Smart Phone 128GB RAM",
    price: "$55.00",
    image: "images/product-small-4.jpg",
    link: "single-product.html",
  },
  {
    name: "22 Inch LED Display",
    price: "$65.00",
    image: "images/product-small-5.jpg",
    link: "single-product.html",
  },
];
---

<div class="container-fluid py-5" data-aos="fade-in">
  <div class="d-flex justify-content-between align-items-center">
    <h2 class="m-0">Our New Arrivals</h2>
    <a href="shop.html" class="btn btn-link">View All Products</a>
  </div>

  <div class="row row-cols-1 row-cols-sm-2 row-cols-xl-5">
    {products.map((product) => <ProductCard {...product} />)}
  </div>
</div>
