---
const categories = [
  { name: "Jackets", link: "#" },
  { name: "T-shirts", link: "#" },
  { name: "Handbags", link: "#" },
  { name: "Accessories", link: "#" },
  { name: "Cosmetics", link: "#" },
  { name: "Dresses", link: "#" },
  { name: "Jumpsuits", link: "#" },
];
---

<div class="modal bg-body text-center" tabindex="-1" id="SearchPopup">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-transparent border-0 gap-5">
      <form class="input-group">
        <input
          type="search"
          class="form-control bg-transparent border-0 border-bottom rounded-0"
          placeholder="Type and press enter"
        />
        <button class="btn bi bi-search"></button>
      </form>

      <h2 class="m-0">Browse Categories</h2>

      <ul class="list-unstyled m-0 d-flex justify-content-center flex-wrap">
        {
          categories.map((category) => (
            <li>
              <a class="btn btn-link" href={category.link}>
                {category.name}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</div>
