<div class="container p-5 text-center" data-aos="fade-in">
  <p class="text-primary text-uppercase">Welcome</p>
  <h2 class="m-0">
    We're constantly testing new products, researching recent trends in the tech
    space, and updating our list of cool gadgets accordingly.
  </h2>
</div>
