---
import "bootstrap/dist/css/bootstrap.min.css";
import "../styles/vendor.css";
import "swiper/swiper-bundle.min.css";
import "../styles/style.css";
import "@fontsource/inter";
import "bootstrap-icons/font/bootstrap-icons.min.css";
---

<!doctype html>
<html>
  <head>
    <title>Multiservicios RBM</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
  </head>

  <body data-bs-theme="dark">
    <slot />
  </body>
</html>
