---
import "bootstrap/dist/css/bootstrap.min.css";
import "../styles/vendor.css";
import "swiper/swiper-bundle.min.css";
import "../styles/style.css";
---

<!doctype html>
<html>
  <head>
    <title>Multiservicios RBM</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
    />
  </head>

  <body data-bs-theme="dark">
    <slot />
  </body>
</html>
